<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layuimini-main">
                <form class="layui-form" action="" lay-filter="example">
                    <input type="tel" name="id" style="display: none;">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">姓名</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="name" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">帐号</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="account" lay-verify="required|phone" placeholder="请输入手机号"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="sex" value="男" title="男" checked="">
                            <input type="radio" name="sex" value="女" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户类型</label>
                        <div class="layui-input-inline">
                            <select name="categoryId" lay-filter="modifyCategory">
                                <option value="">请选择</option>
                            </select>
                            <input name="categoryName" hidden="hidden"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">出生日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="birthday" id="birthday" class="layui-input" disabled="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-input-block rolesDiv">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md-offset4">
                        <div class="layui-input-block">
                            <button class="layui-btn saveBtn" lay-submit lay-filter="saveBtn">确认保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
    var method = [[${method}]]
    var id = [[${id}]]

    layui.use(['form', 'element','util'], function () {
        var $ = layui.jquery,
            form = layui.form,
            util = layui.util,
            element = layui.element;


        //获取信息
        $.ajax({
            url: "/api/account/info",
            type: "post",
            data: {
                "id": id,
                "method":method
            },
            async:false,
            success: function (rst) {
                if(rst.code == 1 && rst.data != null){
                    var result = rst.data;
                    //展示所有角色
                    if(result.roles != null){
                        $.each(result.roles,function (i,t) {
                            $(".rolesDiv").append('<input name="roleIds" roleId="'+t.id+'" type="checkbox" title="'+t.roleName+'"\n' +
                                '                                   th:value="'+t.id+'">');
                        })
                    }
                    if(result.category != null){
                        var category = $.parseJSON(result.category);
                        $.each(category,function (i,t) {
                            $("select[name=categoryId]").append('<option value="'+t.categoryId+'">'+t.categoryName+'</option>')
                        })
                    }
                    if(result.account != null){
                        form.val('example', result.account)
                        form.val('example', {'birthday':util.toDateString(result.account.birthday, "yyyy-MM-dd")})
                    }
                    //回填当前角色
                    if(result.accountRoles != null){
                        var roleIds = {};
                        $.each(result.accountRoles,function (i,t) {
                            $.each($("input[name=roleIds]"),function (index,item) {
                                var roleId = $(item).attr('roleId')
                                if(t.roleId == roleId){
                                    $(item).prop("checked", true);
                                }
                            })
                        })
                    }
                    //重新渲染
                    form.render();
                }else{
                    layer.mag(rst.msg);
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (param) {
            //获取checkbox[name='roles']的值
            var arr = new Array();
            $("input:checkbox[name='roleIds']:checked").each(function (i) {
                arr[i] = $(this).attr("roleId");
            });
            //将数组合并成字符串
            param.field.roleIds = arr.join(",");
            $.ajax({
                url: "/account/save",
                type: "post",
                data: param.field,
                success: function (rst) {
                    layer.msg(rst.msg);
                    if (rst.code == 1) {
                        setTimeout(function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            //重新加载父页面
                            parent.location.reload();
                        }, 300);
                    }
                }
            });
            return false;
        });

        //便跟类型
        form.on("select(modifyCategory)",function (param) {
            var cateogry = $(param.elem).val();
            if("" != cateogry){
                var cateogryName = $(param.elem).find("option:selected").text();
                $("input[name=categoryName]").val(cateogryName)
            }else{
                $("input[name=categoryName]").val(null)
            }
        })

        //详情页面，隐藏提交按钮
        if("view" == method){
            $(".saveBtn").remove();
        }
    });
</script>
</body>
</html>