<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超级系统</title>
    <style>
        .cursor{
            cursor:pointer;
        }
        .indexMenu:hover{
            background-color: #ccc!important;
        }
        .overflow{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">超级系统</a>
        </div>
        <div>
            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right" th:if="${user != null}">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text navbar-right cursor" data-toggle="modal" data-target="#loginModal" th:if="${user == null}">要不先登录？</p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail cursor indexMenu">
                <div class="caption">
                    <h3 class="overflow">菜单名</h3>
                    <p class="overflow" title="应是天仙狂醉，乱把白云揉碎。">应是天仙狂醉，乱把白云揉碎。应是天仙狂醉，乱把白云揉碎。</p>
                    <p class="overflow" style="font-size: 20px">
                        <span>
                            <span class="glyphicon glyphicon-bullhorn"></span> ：<font color="gray">功能更新提醒！！！</font>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">账号登录</a></li>
                        <li role="presentation"><a href="#region" aria-controls="region" role="tab" data-toggle="tab">申请账号</a></li>
                        <li role="presentation"><a href="#regionInfo" aria-controls="regionInfo" role="tab" data-toggle="tab">申请信息查询</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="login">
                            <form class="form-signin" id="loginForm" action="/login" >
                                <h2 style="color: #dddddd;">用户登录</h2>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" >账号</span>
                                        <input type="text" class="form-control" name="account" placeholder="请输入账号/用户名" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" >密码</span>
                                        <input type="password" class="form-control" name="password" placeholder="请输入密码" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
                                <br>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="region">
                            <form class="form-signin" id="regionForm" action="/region">
                                <h2  style="color: #dddddd;">用户申请</h2>
                                <div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"  >名称</span>
                                                <input type="text" class="form-control" name="name" placeholder="请输入用户名" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" >账号</span>
                                                <input type="number" class="form-control" name="account" placeholder="请输入登录账号" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">密码</span>
                                                <input type="password" class="form-control" name="password" placeholder="请输入登录密码" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >年龄</span>
                                                        <input type="number" class="form-control"  name="age"  min="0" max="120"/>
                                                    </div>
                                                </div>
                                            </div><!-- /.col-lg-6 -->
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >性别</span>
                                                        <input type="text" name="sex" class="form-control" placeholder="请选择性别" readonly="readonly" aria-label="...">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择 <span class="caret"></span></button>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li class="sexLi"><a sex="true" >男</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="sexLi"><a sex="false" >女</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div><!-- /.col-lg-6 -->
                                        </div><!-- /.row -->
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12" >
                                                    <textarea name="infoContent" rows="5" style="width: 100%;" placeholder="注册申请消息，管理员看到后会尽快给您审批通过的！！！"></textarea>
                                                </div><!-- /.col-lg-6 -->
                                            </div>
                                        </div>

                                        <br>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit" >提交</button>
                                        <br>
                                    </div>
                            </form>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="regionInfo">
                            <form class="form-signin" >
                                <h2 style="color: #dddddd;">申请信息查询</h2>
                                <div class="input-group">
                                    <span class="input-group-addon"  >请输入查询账号</span>
                                    <input type="text" class="form-control" id="searchRegionInfo" placeholder="请输入查询账号...">
                                    <span class="input-group-btn"><button class="btn btn-default" id="searchRegionBut" type="button">搜索</button></span>
                                </div>
                                <br>
                                <br>
                                <div id="regionInfoDiv" style="display: none">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"  >发起时间</span>
                                            <input type="text" id="regionInfoStartTime"  class="form-control" disabled="disabled" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <img id="regionTaskImg" width="100%"/>
                                </div>
                                <br>
                                <br>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script>

    $(function() {
        $(".sexLi").click(function () {
            var sex = $(this).find("a").text();
            $('input[name=sex]').val(sex)
        })



        $("#searchRegionBut").click(function () {
            var regionInfo = $("#searchRegionInfo").val().trim();
            if(regionInfo != null && regionInfo != ""){
                $.ajax({
                    url:"/activiti/tasksByAccount",
                    data:{account:regionInfo},
                    success:function (rst) {
                        if(rst.code == "1" && rst.data != null && rst.data.length > 0){
                            $("#regionInfoDiv").show();
                            $("#regionInfoStartTime").val(rst.data[0].startTime)
                            $("#regionTaskImg").attr("src","/activiti/taskImg?processId="+rst.data[0].processInstanceId);
                        }/*else{
                            $("#listInfo").hide();
                        }*/
                    }
                })
            }else{
                layer.msg("请输入要查询的注册账号！！！")
            }
        })


        $('#loginForm')//登录
            .bootstrapValidator({
                message: '登录校验',
                feedbackIcons: {
                    /*input状态样式图片*/
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    /*验证：规则*/
                    account: {//验证input项：验证规则
                        message: '登录账号验证',
                        threshold : 2 , //有2字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                        validators: {
                            notEmpty: {//非空验证：提示消息
                                message: '账号/用户名不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '账号/用户名长度必须在2到20之间'
                            },
                            remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                                url: '/checkAccount',//验证地址
                                message: '用户不存在',//提示消息
                                delay :  1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置1秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                                type: 'POST',//请求方式
                                data:function(){
                                    return {
                                        account: $("#loginForm input[name='account']").val()
                                    }
                                }
                            },
                            regexp: {
                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '账号/用户名由数字、字母、汉字组成'
                            }
                        }
                    },
                    password: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 20,
                                message: '用户名长度必须在5到20之间'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: '密码由数字字母下划线和.组成'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function (e) {//点击提交之后
                // 终止重复提交
                e.preventDefault();
                // 得到form表单对象
                var $form = $(e.target);
                // 获得bootstrap验证对象
                var bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data 提交至form标签中的action，result自定义
                $.post($form.attr('action'), $form.serialize(), function (data) {
                    layer.msg(data.msg);
                    if(data.code == 1){
                        common.method.GoUrl("/page/base");
                    }else{
                        $('#loginForm button[type=submit]').attr("disabled",false);
                    }
                });
            });




        $('#regionForm')//注册
            .bootstrapValidator({
                message: '登录校验',
                feedbackIcons: {/*input状态样式图片*/
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {/*验证：规则*/
                    name: {//验证input项：验证规则
                        message: '用户名异常',
                        validators: {
                            notEmpty: {//非空验证：提示消息
                                message: '账号/用户名不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '用户名长度必须在2到20之间'
                            },
                            regexp: {
                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '用户名由数字、字母、汉字组成'
                            }
                        }
                    },
                    account: {//验证input项：验证规则
                        message: '登录账号验证',
                        threshold :  2 , //有2字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                        validators: {
                            notEmpty: {//非空验证：提示消息
                                message: '账号/用户名不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '账号/用户名长度必须在2到20之间'
                            },
                            remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                                url: '/checkAccount',//验证地址
                                message: '用户已存在',//提示消息
                                delay :  1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置1秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                                type: 'POST',//请求方式
                                data:function(){
                                    return {
                                        account: $("#regionForm input[name='account']").val(),
                                        checkType:"region"
                                    }
                                }
                            },
                            regexp: {
                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '账号/用户名由数字、字母、汉字组成'
                            }
                        }
                    },
                    password: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 20,
                                message: '用户名长度必须在5到20之间'
                            },
                            different: {//不能和用户名相同
                                field: 'account',//需要进行比较的input name值
                                message: '不能和登录账号相同'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: '密码由数字字母下划线和.组成'
                            }
                        }
                    },
                    age: {
                        validators: {
                            notEmpty: {
                                message: '年龄不能为空'
                            },
                            regexp: {
                                regexp: /^(?:[1-9][0-9]?|1[01][0-9]|120)$/,
                                message: '年龄范围为1-120'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function(e) {//点击提交之后
                // 终止重复提交
                e.preventDefault();
                // 得到form表单对象
                var $form = $(e.target);
                // 获得bootstrap验证对象
                var bv = $form.data('bootstrapValidator');
                // Use Ajax to submit form data 提交至form标签中的action，result自定义
                $.post($form.attr('action'), $form.serialize(), function(data) {
                    if(data.code == "1"){//成功
                        $("#loginModal").modal("hide");
                    }
                    layer.msg(data.msg);
                });
            });
    });


</script>
</html>