<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.admin.service.mapper.RoleSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zs.admin.api.entry.RoleSource">
    <result column="id" property="id" />
    <result column="is_deleted" property="isDeleted" />
    <result column="create_time" property="createTime" />
    <result column="creator" property="creator" />
    <result column="mender" property="mender" />
    <result column="modify_time" property="modifyTime" />
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="source_id" property="sourceId" />
        <result column="source_name" property="sourceName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        create_time,
        creator,
        mender,
        modify_time,
        role_id, role_name, source_id, source_name
    </sql>

</mapper>
