<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.admin.service.mapper.SysResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zs.admin.api.entry.SysResource">
    <result column="id" property="id" />
    <result column="is_deleted" property="isDeleted" />
    <result column="creator" property="creator" />
    <result column="create_time" property="createTime" />
    <result column="mender" property="mender" />
    <result column="modify_time" property="modifyTime" />
        <result column="title" property="title" />
        <result column="href" property="href" />
        <result column="icon" property="icon" />
        <result column="target" property="target" />
        <result column="descr" property="descr" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="is_parent" property="isParent" />
        <result column="parent_id" property="parentId" />
        <result column="parent_title" property="parentTitle" />
        <result column="is_editable" property="isEditable" />
        <result column="ordinal" property="ordinal" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        creator,
        create_time,
        mender,
        modify_time,
        title, href, icon, target, descr, category_id, category_name, is_parent, parent_id, parent_title, is_editable,ordinal
    </sql>

</mapper>
